<table class="table table-bordered">
  <thead>
    <tr>
      <th>Đời Thứ</th>
      <th>Ông / Bà</th>
      <th>Tục Danh</th>
      <th>Con Ông</th>
      <th>Con Bà</th>
      <th>Sinh Năm</th>
      <th>Sinh Quán</th>
      <th>Tạ Thế</th>
      <th>Mộ Táng</th>
      <th>Bia Mộ</th>
      <th>Kỵ Ông</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= genealogy.doithu %></td>
      <td><%= genealogy.name %></td>
      <td><%= genealogy.tucdanh %></td>
      <td><%= genealogy.conong %></td>
      <td><%= genealogy.conba %></td>
      <td><%= genealogy.sinhnam %></td>
      <td><%= genealogy.sinhquan %></td>
      <td><%= genealogy.tathe %></td>
      <td><%= genealogy.motang %></td>
      <td><%= genealogy.biamo %></td>
      <td><%= genealogy.kyong %></td>
    </tr>
  </tbody>
</table>
