<tr class="odd gradeX tr-<%= post.id %>">
  <td>
    <%= link_to admin_post_path(post) do %>
      <%= post.title %>
    <% end %>
  </td>
  <td>
    <%= post&.content.truncate 250, omission: '...' %>
  </td>
  <td><%= image_tag(post&.logo&.url, size: "80") if post.logo.present? %></td>
  <td class="center"><%= post.created_at %></td>
  <td class="center"><%= post.updated_at %></td>
  <td class="center"><%= post&.category&.name %></td>
  <td class="">
    <a href="<%= admin_post_path post %>" data-id="<%= post.id %>" class="show_modal_post">
      <i class="fa fa-eye fa-fw"></i>
    </a>
    <a href="<%= edit_admin_post_path post %>" data-id="<%= post.id %>" class="edit_modal_post">
      <i class="fa fa-edit fa-fw"></i>
    </a>
    <%= link_to admin_post_path(post), method: :delete, remote: true, data: { confirm: 'Bạn chắc chắn muốn xóa bài đăng này?' } do %>
      <i class="fa fa-trash-o fa-fw"></i>
    <% end %>
  </td>
</tr>
