<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Edit Post</h1>
  </div>
  <div id="flash-message">
    <%= render "admin/shared/flash", flash: flash %>
  </div>
</div>
<div class="panel-body">
  <%= simple_form_for [:admin, @post], html: {class: "form"} do |f| %>
    <div class="modal-body">
      <div class="form-group row margin-center">
        <label for="example-text-input" class="col-2 col-form-label">Title</label>
        <div class="col-10">
          <%= f.input :title, input_html: {class: "form-control"}, label: false %>
        </div>
      </div>
      </br>
      <div class="form-group row margin-center">
        <label for="example-text-input" class="col-2 col-form-label">Summary (Tóm Tắt)</label>
        <div class="col-10">
          <%= f.input :summary, input_html: {class: "form-control", maxlength: 255}, label: false %>
        </div>
      </div>
      </br>
      <div class="form-group row margin-center">
        <label for="example-text-input" class="col-2 col-form-label">Category</label>
        <div class="col-10">
          <%= f.input :category_id, label: false, wrapper: false, include_blank: false, as: :select,
            collection: Category.all.pluck(:name, :id), input_html: {class: "form-control"} %>
        </div>
      </div>
      </br>
      <div class="form-group row margin-center">
        <label for="example-text-input" class="col-2 col-form-label">Content</label>
        <div class="col-10">
          <%= f.input :content, input_html: {id: "comment", class: "form-control", row: 5}, label: false %>
        </div>
      </div>
      </br>
      <div class="form-group row margin-center">
        <label for="example-text-input" class="col-2 col-form-label">Logo</label>
        <div class="col-10">
          <div class="image-preview-css <%= @post.logo.present? ? "image-preview" : nil %>" data-background="<%= @post.logo %>"></div>
          </br>
          <div>
            <%= f.input :logo, as: :file, error: false, label: false, wrapper: false,
              input_html: {class: "change_image_preview"} %>
            <div id="error-img">
              <%= f.error :logo, class: "form__item-error error-msg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= f.submit 'Save', class: "btn btn-default btn-close" %>
  <% end %>
</div>
