<div class="box-heading">
  <span>Thư viện ảnh</span>
</div>
<div class="box-content block_gallery">
  <marquee direction="up" scrollamount="3" onmouseover="this.stop()" onmouseout="this.start()">
    <%= image_tag "gia_pha1.jpg", alt: "" %>
    <%= image_tag "gia_pha2.jpg", alt: "" %>
    <%= image_tag "gia_pha3.jpg", alt: "" %>
    <%= image_tag "gia_pha4.jpg", alt: "" %>
    <%= image_tag "gia_pha5.png", alt: "" %>
    <%= image_tag "gia_pha6.jpg", alt: "" %>
  </marquee>
</div>
