  <div class="row">
      <div class="top-header">
         <div class="wp-top-header">
           <div class="col-md-12">
              <h1 class="text-center">Website họ Nguyễn Việt Nam - Nơi mọi người trong họ tộc sum vầy</h1>
              <h2 class="text-center">Web họ Nguyễn - Nơi cung cấp thông tin các hoạt động trong họ tại Việt Nam</h2>
            </div>
         </div>
      </div>
      <div class="mid-header">
          <%= image_tag "886230333_BANNER_4.jpg", alt: "" %>
      </div>
      <div class="bot-header">
          <div class="navbar_header">
              <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden" href="#">Brand</a>
                  </div>
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li class="dropdown">
                        <a href="<%= root_path %>">Trang Chủ</a>
                      </li>
                      <% @category_parents.each do |cat_parent| %>
                        <% if cat_parent.children.present? %>
                          <li class="dropdown">
                            <a href="/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <%= cat_parent.name %><span class="caret"></span></a>
                            <%= render "home/category_child", cat_parent: cat_parent %>
                          </li>
                        <% else %>
                          <li class="dropdown">
                            <a href="<%= category_path cat_parent %>"><%= cat_parent.name %></a>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </nav>
          </div>
      </div>
  </div>
