<div id="lay_thong_tin_nam_hinh">
  <div class="wr_content_view">
    <div class=" bg_vien">
      <div class="persist-menu header col-xs-hide col-sm-hide">
        <div class="center menu-principal col-sm-1 col-xs-1 col-md-1">
        </div>
      </div>
      <!--////////////////////-->
      <!-- MENU MOBILE -->
      <!--////////////////////-->
      <div class="col-xs-show col-sm-show menu-mobile">
        <div class="wrapper">
          <a href="thong-bao-thi.html#">MENU</a>
          <button id="bt-menu-mobile">
          <span class="top"></span>
          <span class="middle"></span>
          <span class="bottom"></span>
          </button>
          <div class="clear"></div>
        </div>
        <%= render "menu_mobile" %>
      </div>
      <div>
        <%= render "banner" %>
        <%= render "menu_tt" %>
        <%= render "show_news" %>
      </div>
    </div>
    <%= render "show_realm" %>
    <%= render "layouts/footer_tt" %>
  </div>
</div>
