<!DOCTYPE html>
<html>
  <head>
    <title>GiaPha</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "gojs-style", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
