<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Họ Nguyễn Việt Nam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>

    <%= yield :specific_page_css %>
    <%= yield :specific_page_js_on_head %>
  </head>
  <body>
    <div class="container" id="header">
      <%= render "home/menu" %>
    </div>
    <div class="container " id="content">
       <div class="row">
          <div class="col-md-3 no-left">
            <div class="menu_left box">
              <%= render "home/menu_left" %>
            </div>
            <div class="video_left box">
              <%= render "home/menu_video" %>
            </div>
            <div class="new_left_nobg box merit">
              <%= render "home/post_left" %>
            </div>
            <div class="new_left box statistics">
               <div class="box-heading">
                  <span>Thống kê truy cập</span>
               </div>
               <div class="box-content">
                 <ul class="list-unstyled">
                    <li><a href="#">Online : <strong>3</strong></a></li>
                    <li><a href="#">Số lượt truy cập: <strong>2.760.662</strong></a></li>
                  </ul>
               </div>
            </div>
          </div>
          <%= yield %>
          <div class="col-md-3 no-right">
            <div class="new_left box">
              <%= render "home/menu_thu_vien_anh" %>
            </div>
            <div class="new_left box">
              <%= render "home/menu_noti_action" %>
            </div>
            <div class="new_left box">
              <%= render "home/menu_news" %>
            </div>
          </div>
        </div>
    </div>
    <div class="container" id="footer">
      <%= render "layouts/footer" %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
