<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hồ Như Tộc - Việt Nam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "styles", media: "all" %>

    <%= yield :specific_page_css %>
    <%= yield :specific_page_js_on_head %>
  </head>
  <body onload="pageLoad();bindLikeBoxFloat2();">
    <a class="chat_online" href="chat.html">
      <i class="fa fa-comments" aria-hidden="true"></i> Chat nhóm Online
    </a>
    <%= yield %>
    <div class="thoangbao_mgs">
      <div id="luu_result">
      </div>
    </div>
    <div class="popup_photo" id="popup_photo">
      <div id="show_thong_tin">
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
